In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('data/nba.csv')
df

,slugScore,slugTeamLeading,idGame,numberEvent,numberEventMessageType,numberEventActionType,numberPeriod,timeStringWC,timeQuarter,descriptionPlayHome,descriptionPlayVisitor,minuteGame,timeRemaining,minuteRemainingQuarter,secondsRemainingQuarter,scoreAway,scoreHome,marginScore
0,NaN,Home,21800001,2,12,0,1,8:03 PM,12:00,NaN,NaN,0.000000,48.000000,12,0,0,0,0
1,NaN,Home,21800001,4,10,0,1,8:03 PM,12:00,Jump Ball Horford vs. Embiid: Tip to Simmons,NaN,0.000000,48.000000,12,0,0,0,0
2,NaN,Home,21800001,7,2,1,1,8:03 PM,11:40,NaN,MISS Covington 27' 3PT Jump Shot,0.333333,47.666667,11,40,0,0,0
3,NaN,Home,21800001,8,4,0,1,8:04 PM,11:40,CELTICS Rebound,NaN,0.333333,47.666667,11,40,0,0,0
4,NaN,Home,21800001,10,2,1,1,8:04 PM,11:15,MISS Tatum 25' 3PT Jump Shot,NaN,0.750000,47.250000,11,15,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582464,NaN,Home,21801230,565,4,0,4,12:44 AM,0:21,NaN,Swanigan REBOUND (Off:3 Def:4),47.650000,0.350000,0,21,131,136,5
582465,NaN,Home,21801230,566,9,1,4,12:44 AM,0:21,NaN,Kings Timeout: Regular (Reg.6 Short 0),47.650000,0.350000,0,21,131,136,5
582466,NaN,Home,21801230,567,2,79,4,12:45 AM,0:14,NaN,MISS Ferrell 27' 3PT Pullup Jump Shot,47.766667,0.233333,0,14,131,136,5
582467,NaN,Home,21801230,568,4,0,4,12:46 AM,0:11,Labissiere REBOUND (Off:4 Def:11),NaN,47.816667,0.183333,0,11,131,136,5
582468,131 - 136,Home,21801230,569,13,0,4,12:46 AM,0:00,NaN,NaN,48.000000,0.000000,0,0,131,136,5

In [9]:
df.dtypes

slugScore                   object
slugTeamLeading             object
idGame                       int64
numberEvent                  int64
numberEventMessageType       int64
numberEventActionType        int64
numberPeriod                 int64
timeStringWC                object
timeQuarter                 object
descriptionPlayHome         object
descriptionPlayVisitor      object
minuteGame                 float64
timeRemaining              float64
minuteRemainingQuarter       int64
secondsRemainingQuarter      int64
scoreAway                    int64
scoreHome                    int64
marginScore                  int64
dtype: object

In [17]:
# add timeout column: 1 if they called timeout 0 otherwise

df1 = df.copy()
df1['timeout_home'] = df1['descriptionPlayHome'].astype(str).str.contains('timeout', case=False, na=False).astype(int)
df1['timeout_away'] = df1['descriptionPlayVisitor'].astype(str).str.contains('timeout', case=False, na=False).astype(int)
df1

,slugScore,slugTeamLeading,idGame,numberEvent,numberEventMessageType,numberEventActionType,numberPeriod,timeStringWC,timeQuarter,descriptionPlayHome,descriptionPlayVisitor,minuteGame,timeRemaining,minuteRemainingQuarter,secondsRemainingQuarter,scoreAway,scoreHome,marginScore,timeout_home,timeout_away
0,NaN,Home,21800001,2,12,0,1,8:03 PM,12:00,NaN,NaN,0.000000,48.000000,12,0,0,0,0,0,0
1,NaN,Home,21800001,4,10,0,1,8:03 PM,12:00,Jump Ball Horford vs. Embiid: Tip to Simmons,NaN,0.000000,48.000000,12,0,0,0,0,0,0
2,NaN,Home,21800001,7,2,1,1,8:03 PM,11:40,NaN,MISS Covington 27' 3PT Jump Shot,0.333333,47.666667,11,40,0,0,0,0,0
3,NaN,Home,21800001,8,4,0,1,8:04 PM,11:40,CELTICS Rebound,NaN,0.333333,47.666667,11,40,0,0,0,0,0
4,NaN,Home,21800001,10,2,1,1,8:04 PM,11:15,MISS Tatum 25' 3PT Jump Shot,NaN,0.750000,47.250000,11,15,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582464,NaN,Home,21801230,565,4,0,4,12:44 AM,0:21,NaN,Swanigan REBOUND (Off:3 Def:4),47.650000,0.350000,0,21,131,136,5,0,0
582465,NaN,Home,21801230,566,9,1,4,12:44 AM,0:21,NaN,Kings Timeout: Regular (Reg.6 Short 0),47.650000,0.350000,0,21,131,136,5,0,1
582466,NaN,Home,21801230,567,2,79,4,12:45 AM,0:14,NaN,MISS Ferrell 27' 3PT Pullup Jump Shot,47.766667,0.233333,0,14,131,136,5,0,0
582467,NaN,Home,21801230,568,4,0,4,12:46 AM,0:11,Labissiere REBOUND (Off:4 Def:11),NaN,47.816667,0.183333,0,11,131,136,5,0,0
582468,131 - 136,Home,21801230,569,13,0,4,12:46 AM,0:00,NaN,NaN,48.000000,0.000000,0,0,131,136,5,0,0

In [19]:
# Convert game time to seconds for easier calculations
df1["time_seconds"] = df1["minuteGame"] * 60

In [21]:
# Define parameters for a "run"
POINT_DIFFERENCE = 6  # A team must outscore the opponent by at least 6 points
WINDOW_EVENTS = 10  # Consider last 10 events (approx. 2 minutes of game time)

# Compute rolling difference in score for both teams
df1["score_diff_home"] = df1["scoreHome"].diff(WINDOW_EVENTS)
df1["score_diff_away"] = df1["scoreAway"].diff(WINDOW_EVENTS)

In [31]:
# Identify runs: If a team outscores the opponent by at least POINT_DIFFERENCE in the rolling window
df1["run_home"] = (df1["score_diff_home"] - df1["score_diff_away"] >= POINT_DIFFERENCE).astype(int)
df1["run_away"] = (df1["score_diff_away"] - df1["score_diff_home"] >= POINT_DIFFERENCE).astype(int)

In [45]:
df1

,slugScore,slugTeamLeading,idGame,numberEvent,numberEventMessageType,numberEventActionType,numberPeriod,timeStringWC,timeQuarter,descriptionPlayHome,...,scoreAway,scoreHome,marginScore,timeout_home,timeout_away,time_seconds,score_diff_home,score_diff_away,run_home,run_away
0,NaN,Home,21800001,2,12,0,1,8:03 PM,12:00,NaN,...,0,0,0,0,0,0.0,NaN,NaN,0,0
1,NaN,Home,21800001,4,10,0,1,8:03 PM,12:00,Jump Ball Horford vs. Embiid: Tip to Simmons,...,0,0,0,0,0,0.0,NaN,NaN,0,0
2,NaN,Home,21800001,7,2,1,1,8:03 PM,11:40,NaN,...,0,0,0,0,0,20.0,NaN,NaN,0,0
3,NaN,Home,21800001,8,4,0,1,8:04 PM,11:40,CELTICS Rebound,...,0,0,0,0,0,20.0,NaN,NaN,0,0
4,NaN,Home,21800001,10,2,1,1,8:04 PM,11:15,MISS Tatum 25' 3PT Jump Shot,...,0,0,0,0,0,45.0,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582464,NaN,Home,21801230,565,4,0,4,12:44 AM,0:21,NaN,...,131,136,5,0,0,2859.0,3.0,0.0,0,0
582465,NaN,Home,21801230,566,9,1,4,12:44 AM,0:21,NaN,...,131,136,5,0,1,2859.0,3.0,0.0,0,0
582466,NaN,Home,21801230,567,2,79,4,12:45 AM,0:14,NaN,...,131,136,5,0,0,2866.0,3.0,0.0,0,0
582467,NaN,Home,21801230,568,4,0,4,12:46 AM,0:11,Labissiere REBOUND (Off:4 Def:11),...,131,136,5,0,0,2869.0,3.0,0.0,0,0
582468,131 - 136,Home,21801230,569,13,0,4,12:46 AM,0:00,NaN,...,131,136,5,0,0,2880.0,1.0,0.0,0,0

In [81]:
number_home_runs = df1[df1['run_home'] > 0]
len(number_home_runs)

12087

In [83]:
number_away_runs = df1[df1['run_away'] > 0]
len(number_away_runs)

12914

In [57]:
away_run_home_timeout = df1[df1['run_away'] > 0]
away_run_home_timeout['timeout_home'].value_counts()

timeout_home
0    12344
1      570
Name: count, dtype: int64

In [59]:
away_run_home_timeout['timeout_away'].value_counts()

timeout_away
0    12896
1       18
Name: count, dtype: int64

In [61]:
# teams basically never call a timeout if they are on a run, but it is common to call a timeout if the opposing team is on a run

In [69]:
away_run_home_timeout = df1[df1['run_home'] > 0]
away_run_home_timeout['timeout_away'].value_counts()

timeout_away
0    11407
1      680
Name: count, dtype: int64

In [67]:
away_run_home_timeout['timeout_home'].value_counts()

timeout_home
0    12064
1       23
Name: count, dtype: int64

In [113]:
df1

,slugScore,slugTeamLeading,idGame,numberEvent,numberEventMessageType,numberEventActionType,numberPeriod,timeStringWC,timeQuarter,descriptionPlayHome,...,scoreAway,scoreHome,marginScore,timeout_home,timeout_away,time_seconds,score_diff_home,score_diff_away,run_home,run_away
0,NaN,Home,21800001,2,12,0,1,8:03 PM,12:00,NaN,...,0,0,0,0,0,0.0,NaN,NaN,0,0
1,NaN,Home,21800001,4,10,0,1,8:03 PM,12:00,Jump Ball Horford vs. Embiid: Tip to Simmons,...,0,0,0,0,0,0.0,NaN,NaN,0,0
2,NaN,Home,21800001,7,2,1,1,8:03 PM,11:40,NaN,...,0,0,0,0,0,20.0,NaN,NaN,0,0
3,NaN,Home,21800001,8,4,0,1,8:04 PM,11:40,CELTICS Rebound,...,0,0,0,0,0,20.0,NaN,NaN,0,0
4,NaN,Home,21800001,10,2,1,1,8:04 PM,11:15,MISS Tatum 25' 3PT Jump Shot,...,0,0,0,0,0,45.0,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582464,NaN,Home,21801230,565,4,0,4,12:44 AM,0:21,NaN,...,131,136,5,0,0,2859.0,3.0,0.0,0,0
582465,NaN,Home,21801230,566,9,1,4,12:44 AM,0:21,NaN,...,131,136,5,0,1,2859.0,3.0,0.0,0,0
582466,NaN,Home,21801230,567,2,79,4,12:45 AM,0:14,NaN,...,131,136,5,0,0,2866.0,3.0,0.0,0,0
582467,NaN,Home,21801230,568,4,0,4,12:46 AM,0:11,Labissiere REBOUND (Off:4 Def:11),...,131,136,5,0,0,2869.0,3.0,0.0,0,0
582468,131 - 136,Home,21801230,569,13,0,4,12:46 AM,0:00,NaN,...,131,136,5,0,0,2880.0,1.0,0.0,0,0